#pylint==1.8.1
git+https://github.com/PyCQA/pylint.git@91969b046e7aa8cfaa20e5c7e4fce925a802f1f7#egg=pylint==0.0
astroid==1.6
pylint-django==0.8.0
pylint-celery==0.3
six>=1.10.0,<2.0.0
click>=6.0
click-log==0.1.8
